body {
    background-color: #c6c7c4;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
}

#shelf {
    background-color:#846A6A;
    width: 70vw;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

.book {
    background-color: #eef0f2;
    height: 50px;
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    font-weight: bold;
}

button {
    border: none;
    background-color: #353B3C;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

#new-book-btn {
    margin: 20px auto 0 auto;
}

form {
    background-color: #eef0f2;
    width: 60vw;
    margin: 20px auto;
    text-align: center;
    display: none;
    font-family: 'Open Sans', sans-serif;
    padding: 1px 0 20px 0;
}

form div {
    margin: 20px auto 0 auto;
}

.visible {
    display: block;
}