body {
    background-color: honeydew;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

#shelf {
    background-color: burlywood;
    width: 70vw;
    height: 500px;
    margin: 0 auto;
}

.book {
    background-color: cornflowerblue;
    height: 30px;
    width: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}