body {
    background-color: honeydew;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

#shelf {
    background-color: burlywood;
    width: 70vw;
    height: 500px;
    margin: 0 auto;
}